---
import Navigation from "./Navigation.astro";
---

<header class="position-sticky top-0 z-10">
    <nav class="flex items-center justify-between p-4">
        <h3>Lucas Gallardo</h3>
        <Navigation />
    </nav>
</header>