---
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-10 p-section bg-primary"  >
    <nav class="flex items-center justify-between py-4">
        <span class="text-primary-light text-4xl text-center m-0">&ltLG/&gt  </span>
        <Navigation />
    </nav>
</header>