---

---

<ul class="flex gap-4">
    <li><a href="/">Home</a></li>
    <li><a href="/about">Sobre mi</a></li>
    <li><a href="/about">Proyectos</a></li>
    <li><a href="/contact">Contacto</a></li>
</ul>

<style>
    li:hover {
        text-decoration: underline;
    }

    @keyframes
</style>