---
const { nombre, logo} = Astro.props;
---

<article class="grid justify-center align-center ">
    <img src={logo} alt={`Logo de ${nombre}`} width="64" class="mb-2 mx-auto"/>
    <span class="text-center">{nombre}</span>
</article>

