<section id="experience" class="p-section-mobile md:p-section-table lg:p-section 2xl:p-section-desktop">
    <h2 class="text-center underline underline-offset-4 decoration-aceent my-10">Experiencia</h2>
    
    <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Marzo 2025</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Desarrollador de software en PHP</h3>
            <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Actualmente trabajo en la municipalidad de Berisso como programador de sistemas municipales utilizando Laravel, PHP, Bootstrap y JavaScript.</p>
            <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">He trabajado en el desarrollo de diversas aplicaciones web, mejorando la eficiencia de los procesos internos y la experiencia del usuario.</p>
        </li>
    </ol>
</section>