---
import githunLogo from '../assets/icons/github.svg'
import linkedinLogo from '../assets/icons/linkedin.svg'
import emailIcon from '../assets/icons/email.svg'
import copyIcon from '../assets/icons/copy.svg'
---

<footer id="contacts" class="p-section-mobile md:p-section-table lg:p-section 2xl:p-section-desktop mt-[40px]">
    <div class="w-full max-w-screen-xl mx-auto md:py-8">
        <p class="mx-auto text-center max-w-[300px] md:max-w-[490px] mb-[40px]">¿Qué sigue? No dudes en contactarme si buscas un desarrollador, tienes alguna consulta o simplemente quieres conectar. </p>
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex gap-4 justify-center"> 
                <a href="https://github.com/Lukitaaaaa" target="_blank">
                    <img src={githunLogo.src} alt="Logo de github" width="48" height="48"/>
                </a>
                <a href="https://www.linkedin.com/in/lucas-omar-gallardo/" target="_blank">
                    <img src={linkedinLogo.src} alt="Logo de Linkedin" width="48" height="48"/>
                </a>
            </div>
            <div class="flex gap-2 items-center justify-center">
                <img src={emailIcon.src} alt="Icono de email" width="32" height="32">
                <a href="mailto:lucasomargallardo@gmail.com?Subject=Hola%20desde%20el%20portafolio" class="text-xl">lucasomargallardo@gmail.com</a>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm sm:text-center">Copyright © 2025 <a href="https://flowbite.com/" class="hover:underline">LG</a>.</span>
    </div>
</footer>


