---
import ilustration from '../assets/ilustracion.svg';
---
<section id="hero" class="bg-gray-900 text-white p-section-mobile md:p-section-table lg:p-section 2xl:p-section-desktop h-screen w-full flex items-center justify-center md:justify-between">
    <div class="grid z-5 text-center lg:text-left">
      <span class="text-7xl md:text-5xl">Hola, soy </span>
      <strong class="mb-4 text-7xl md:text-5xl font-bold bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent  leading-right">Lucas Gallardo</strong>
      <strong class="text-5xl md:text-3xl">Desarrollador web full stack</strong>
    </div>
    <img src={ilustration.src} alt="Un desarrollador frente a una computadora" class="w-[400px] image-landing"/>
</section>

<style>
  @media(max-width: 767px){
    .image-landing{
      display: none;
    }
  }  
</style>