---
import ilustration from '../assets/ilustracion.svg';
import githubIcon from '../assets/icons/github.svg';
import linkedinIcon from '../assets/icons/linkedin.svg';

import curriculum from '../assets/curriculum-vitae.pdf';
---
<section id="hero" class="bg-gray-900 h-screen w-full flex items-center justify-center lg:justify-between p-section-mobile md:p-section-table lg:p-section 2xl:p-section-desktop ">
    <div class="grid max-w-screen-lg text-center lg:text-left">
      <span class="text-3xl md:text-5xl">Hola, soy </span>
      <span class="mb-4 text-3xl md:text-5xl font-bold bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent leading-right" >Lucas Gallardo</span>
      <span class="text-xl md:text-3xl">Desarrollador web full stack</span>
      <div class="flex justify-center items-center gap-4 mt-4">  
        <a href="https://github.com/Lukitaaaaa" target="_blank"><img src={githubIcon.src} alt="Logo de github" width="32" height="32"></a>
        <a href="https://www.linkedin.com/in/lucas-omar-gallardo/" target="_blank"><img src={linkedinIcon.src} alt="Logo de linkedin" width="32" height="32"></a>
        <a href={curriculum} download="Lucas Gallardo CV" class="p-2 rounded-lg border border-gray-300 hover:bg-purple-600 transition duration-300 ease-in-out">Curriculum vitae</a>
      </div>
    </div>
    <img src={ilustration.src} loading="eager" alt="Un desarrollador frente a una computadora" class="w-[400px] image-landing"/>
</section>

<style>
  @media(max-width: 769px){
    .image-landing{
      display: none;
    }
  }  
</style>