---
---
<section class="bg-gray-800 text-white py-20 h-screen w-full flex items-center justify-center">
    <div class="text-center">
      <h3 class="text-xl md:text-2xl lg:text-3xl font-bold mb-4">Bienvenido a mi portafolio</h1>
      <h3 class="text-lg md:text-2xl lg:text-4xl">Soy desarrollador web y me llamo <span class="text-custom-blue">Lucas Gallardo</span></h3>
    </div>

</section>