---
import ilustration from '../assets/ilustracion.svg';
---
<section id="hero" class="bg-gray-900 h-screen w-full flex items-center justify-center lg:justify-between p-section-mobile md:p-section-table lg:p-section 2xl:p-section-desktop ">
    <div class="grid max-w-screen-lg text-center lg:text-left">
      <span class="text-3xl md:text-5xl">Hola, soy </span>
      <span class="mb-4 text-3xl md:text-5xl font-bold bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent leading-right" >Lucas Gallardo</span>
      <span class="text-xl md:text-3xl">Desarrollador web full stack</span>
    </div>
    <img src={ilustration.src} loading="eager" alt="Un desarrollador frente a una computadora" class="w-[400px] image-landing"/>
</section>

<style>
  @media(max-width: 769px){
    .image-landing{
      display: none;
    }
  }  
</style>