---
import mockupLatop from "../assets/zafiro-page-front.webp";
import ProjectCard from "../components/ProjectCard.astro";
---
<section id="projects" class="p-section-mobile md:p-section-table lg:p-section 2xl:p-section-desktop">
    <h2 class="text-center underline underline-offset-4 decoration-aceent my-10">Proyectos</h2>
    <div class="flex flex-wrap justify-evenly items-center gap-6">
        
        <ProjectCard 
            title="Zafiro" 
            description="Una red social inspirada en Twitter, donde los usuarios pueden compartir sus pensamientos, imágenes y videos. Cuenta con un sistema de seguidores, likes y comentarios." 
            image={mockupLatop}
            status="En progreso"
            linkGithub="https://github.com/Lukitaaaaa/zafiro-proyect"
            badges={["Laravel", "Bootstrap", "PHP", "MySQL"]}
        />
        
    </div>
</section>